<div class="panel warning" ng-controller="ingredientes">
                <div class="heading">
                
                <span class="title">Agregar Ingrediente</span>
                </div>
                <div class="content">
                <form align="center">  
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Nombre" ng-model="Newproduct.nombre" class="input-full" required="">
                        <span class="label">Nombre ingrediente</span>
                        <span class="informer"></span>
                        <span class="icon mif-user"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Descripcion" ng-model="Newproduct.descripcion" class="input-full" required="">
                        <span class="label">Descripcion</span>
                        <span class="informer"></span>
                        <span class="icon mif-paragraph-left"></span>
                        </div>
                        
                        <br><br>
                        
                        <button class="button success loading-pulse" ng-click="CreateIngrediente()">
                        Agregar
                        </button>
                    </form>
                    <br><br>
                    
<div class="panel warning">
	<div class="heading">
    
    <span class="title">Listado de ingredientes</span>
    </div>
    <div class="content">
		<table class="table striped hovered">
	<th>
		NOMBRE
	</th>
	<th>
		DESCRIPCION
	</th>
	<th>
		GMS/KG
	</th>
	<th>
		OPCION
	</th>
	<tr align="center" ng-repeat="ingredient in ingredientestmp">
		<td>
			{{ ingredient.nombre }}
		</td>
		<td>
			{{ ingredient.descripcion }}
		</td>
		<td>
			100 gms
		</td>
		<td>
			
			<a href="dashboard#/ingredientes/{{ ingredient._id }}">
				<button class="button success rounded loading-cube">EDITAR</button>
			</a>


		</td>
	</tr>

</table>
    </div>
	
</div>
</div>
</div>
</div>
