<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script src="/metro/docs/js/jquery-2.1.3.min.js"></script>
    <script src="/metro/docs/js/metro.js"></script>
    <script src="/metro/docs/js/jquery.dataTables.min.js"></script>

    <link href="/metro/docs/css/metro.css" rel="stylesheet">
    <link href="/metro/docs/css/metro-schemes.css" rel="stylesheet">
    <link href="/metro/docs/css/metro-icons.css" rel="stylesheet">
    <link href="/metro/docs/css/metro-responsive.css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    
    
    <style>
        html, body {
            height: 100%;
        }
        body {
        }
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }

        @media screen and (max-width: 800px){
            #cell-sidebar {
                flex-basis: 52px;
            }
            #cell-content {
                flex-basis: calc(100% - 52px);
            }
        }
    </style>

    <script>
        function pushMessage(t){
            var mes = 'Info|Implement independently';
            $.Notify({
                caption: mes.split("|")[0],
                content: mes.split("|")[1],
                type: t
            });
        }

        $(function(){
            $('.sidebar').on('click', 'li', function(){
                if (!$(this).hasClass('active')) {
                    $('.sidebar li').removeClass('active');
                    $(this).addClass('active');
                }
            })
        })
    </script>
</head>
<body class="bg-steel">
    <div class="app-bar fixed-top darcula" data-role="appbar">
        <a class="app-bar-element branding">RestWeb</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li><a href="">Dash</a></li>
            <li>
                <a href="" class="dropdown-toggle">Restaurant</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>
                        <a href="tables">Mesas</a>
                        </li>
                        <li>
                        <a href="#">Entregas</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="" class="dropdown-toggle">Ventas</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>
                        <a href="tables">Ventas</a>
                        </li>
                        <li>
                        <a href="#">Movimientos</a>
                        </li>
                        <li>
                        <a href="#">Arqueo de caja</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="" class="dropdown-toggle">Gastos</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>
                        <a href="tables">Gastos</a>
                        </li>
                        <li>
                        <a href="#">Categorias</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="" class="dropdown-toggle">Productos</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="#">Cat. Productos</a></li>
                    <li><a href="#">Cat. Ingredientes</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ingredientes</a></li>
                    <li><a href="#">Control stock</a></li>
                    <li><a href="#">Mov. stock</a></li>
                    </ul>
            </li>
            <li>
                <a href="" class="dropdown-toggle">Clientes</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Nuevo cliente</a></li>
                    </ul>
            </li>
            <li>
                <a href="" class="dropdown-toggle">Gestion</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Nuevo cliente</a></li>
                    </ul>
            </li>
            
        </ul>

        <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span> Pepe Pecas</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <ul class="unstyled-list fg-dark">
                    <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell size-x200" id="cell-sidebar" style="background-color: #3c3f41  ; height: 100%">
                    <ul class="sidebar darcula">
                        <li><a href="#">
                            <span class="mif-apps icon"></span>
                            <span class="title">Mesas</span>
                            <span class="counter">0</span>
                        </a></li>
                        <li><a href="#">
                            <span class="mif-vpn-publ icon"></span>
                            <span class="title">Comandas</span>
                            <span class="counter">0</span>
                        </a></li>
                        <li class="active"><a href="#">
                            <span class="mif-drive-eta icon"></span>
                            <span class="title">Status</span>
                            <span class="counter">2</span>
                        </a></li>
                        <li><a href="#">
                            <span class="mif-cloud icon"></span>
                            <span class="title">Facturas</span>
                            <span class="counter">0</span>
                        </a></li>
                        <li><a href="#">
                            <span class="mif-database icon"></span>
                            <span class="title">Caja</span>
                            <span class="counter">0</span>
                        </a></li>
                        <li><a href="#">
                            <span class="mif-cogs icon"></span>
                            <span class="title">Clientes</span>
                            <span class="counter">0</span>
                        </a></li>
                        <li><a href="#">
                            <span class="mif-apps icon"></span>
                            <span class="title">Corte</span>
                            <span class="counter">0</span>
                        </a></li>
                    </ul>
                </div>
                
                <div class="cell auto-size padding20 bg-white" id="cell-content">
                   <button class="button primary" onclick="pushMessage('info')"><span class="mif-plus"></span> Create...</button>
                    <button class="button success" onclick="pushMessage('success')"><span class="mif-play"></span> Start</button>
                    <button class="button warning" onclick="pushMessage('warning')"><span class="mif-loop2"></span> Restart</button>
                    <button class="button alert" onclick="pushMessage('alert')">Stop all machines</button>
    
                    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">
                        <thead>
                        <tr>
                            <td style="width: 20px">
                            </td>
                            <td class="sortable-column sort-asc" style="width: 100px">ID</td>
                            <td class="sortable-column">Machine name</td>
                            <td class="sortable-column">Address</td>
                            <td class="sortable-column" style="width: 20px">Status</td>
                            <td style="width: 20px">Switch</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label class="input-control checkbox small-check no-margin">
                                    <input type="checkbox">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td>123890723212</td>
                            <td>Machine number 1</td>
                            <td><a href="http://virtuals.com/machines/123890723212">link</a></td>
                            <td class="align-center"><span class="mif-checkmark fg-green"></span></td>
                            <td>
                                <label class="switch-original">
                                    <input type="checkbox" checked>
                                    <span class="check"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="input-control checkbox small-check no-margin">
                                    <input type="checkbox">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td>123890723212</td>
                            <td>Machine number 2</td>
                            <td><a href="http://virtuals.com/machines/123890723212">link</a></td>
                            <td class="align-center"><span class="mif-stop fg-red"></span></td>
                            <td>
                                <label class="switch-original">
                                    <input type="checkbox">
                                    <span class="check"></span>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>