<div class="login-form padding20 block-shadow">
        <form action="/login" method="POST">
            <h1 class="text-light"><center>Inicia session</center></h1>
            <hr class="thin"/>
            <br />
            <div class="input-control text full-size" data-role="input">
                <input type="text" name="username" id="user_login" placeholder="username">
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <input type="password" name="password" id="user_password" placeholder="password">
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit" class="button primary">Iniciar session</button>
                <button type="button" class="button link">Cancel</button>
            </div>
        </form>
