<div class="panel info" ng-controller="UpdateClient">
<div class="heading">

<span class="title">CLIENTE: {{ client.nombre}} {{ client.apellidos}}</span>
</div>
<div class="content">
	<form align="center">  
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Nombre" class="input-full" value="{{client.nombre}}">
        <span class="label">Nuevo nombre</span>
        <span class="informer">Ingrese solo el nombre</span>
        <span class="icon mif-user"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Apellidos" value="{{client.apellidos}}">
        <span class="label">Nuevo Apellidos</span>
        <span class="informer">Ingrese solo el Apellidos</span>
        <span class="icon mif-user"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Direccion" value="{{client.direccion}}">
        <span class="label">Nueva Direccion</span>
        <span class="informer">Direccion actual</span>
        <span class="icon mif-home"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="number" placeholder="Movil" value="{{client.movil}}">
        <span class="label">Numero Movil</span>
        <span class="informer">Movil personal</span>
        <span class="icon mif-mobile"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="number" placeholder="Telefono fijo" value="{{client.telefono}}">
        <span class="label">Numero de Telefono fijo</span>
        <span class="informer">Telefono fijo personal</span>
        <span class="icon mif-phone"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="email" placeholder="E-mail" value="{{client.email}}">
        <span class="label">Email de cliente</span>
        <span class="informer">No olvide el @</span>
        <span class="icon mif-mail"></span>
        </div>
        <br>
        <button class="button success" ng-click="CreateClient()">
        ACTUALIZAR
        </button>
        <button class="button danger" ng-click="CreateClient()">
        ELIMINAR
        </button>
    </form>
</div>
</div>