<div class="panel info" ng-controller="add_category">
                <div class="heading">
                
                <span class="title">Agregar Categoria</span>
                </div>
                <div class="content">
                <form align="center">  
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Categoria" ng-model="Newproduct.categoria" class="input-full" >
                        <span class="informer"></span>
                        <span class="icon mif-user"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Descripcion" ng-model="Newproduct.descripcion" class="input-full">
                        <span class="informer"></span>
                        <span class="icon mif-paragraph-left"></span>
                        </div>
                        
                        <br><br>
                        
                        <button class="button success loading-pulse" ng-click="CreateCatProduct()">
                        Agregar
                        </button>
                    </form>
                    <br><br>
	
</div>
</div>
</div>
</div>
