<div class="panel info" ng-controller="clients">
                <div class="heading">
                
                <span class="title">Nuevo Cliente</span>
                </div>
                <div class="content">
                <form align="center">  
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Nombre" ng-model="Client.nombre" class="input-full">
                        <span class="icon mif-user"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Direccion" ng-model="Client.direccion">
                        <span class="icon mif-home"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="number" placeholder="Telefono fijo" ng-model="Client.telefono">
                        <span class="icon mif-phone"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="E-mail" ng-model="Client.mail">
                        <span class="icon mif-mail"></span>
                        </div>
                        <br><br>
                        <button class="button success loading-pulse" ng-click="CreateClient()">
                        Agregar
                        </button>
                    </form>
                    <br><br>
                </div>
                </div>