<div ng-controller="c_direcciones">
<div class="accordion large-heading" data-role="accordion">
    <div class="frame">
        <div class="heading"><span class="mif-plus icon"></span> Nueva Direccion</span></div>
        <div class="content" align="center">
        <form align="center">  
            
            
            <div class="input-control modern text iconic" id="widthfull">
            <input type="text" placeholder="Calle" ng-model="direccion.calle" class="input-full">
            <span class="icon mif-user"></span>
            </div>
            
            
            <div class="input-control modern text iconic" id="widthfull">
            <input type="number" placeholder="Numero" ng-model="direccion.numero">
            <span class="icon mif-mail"></span>
            </div>

            <div class="input-control modern text iconic" id="widthfull">
            <input type="text" placeholder="Colonia" ng-model="direccion.colonia">
            <span class="icon mif-phone"></span>
            </div>

            <div class="input-control modern text iconic" id="widthfull">
            <input type="text" placeholder="Ciudad" ng-model="direccion.ciudad">
            <span class="icon mif-phone"></span>
            </div>

            <div class="input-control modern text iconic" id="widthfull">
            <input type="text" placeholder="Referencia" ng-model="direccion.referencia">
            <span class="icon mif-phone"></span>
            </div>


            <br><br>
            <button class="button success loading-pulse" ng-click="create()">
            Agregar
            </button>
        </form>
        </div>
    </div>
</div>
<br>
<div class="panel alert">
    <div class="heading">
    
    <span class="title">Direcciones</span>

    </div>
    <div class="content">
	<!--Busqueda y numero mostrado -->
	<div class="grid">
	    <div class="row flex-just-sa">
	        <div class="colspan6" style="width: 100%" align="center">
	        <form >
            	<div class="input-control text " data-role="input" style="width: 95%">
    
    		<input type="text" name="filter" ng-model="inputbox.text" placeholder="Buscar">
    
    		<button class="button" ng-click="SearchClient()"><span class="mif-search"></span></button></div>
            </form>
	        </div>
	        <div class="colspan6" style="width: 100%" align="center">
		        <div class="input-control select" style="width: 95%">
                <select ng-model="pageSizetmp.items" ng-change="ChangePageItems()" style="text-align: center; text-align-last: center;">
                    <option value="">---Items mostrados---</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="todos">Ver todos</option>
                </select>
                </div>
	        </div>
	    </div>
	</div>
	<!--Finaliza Busqueda y numero mostrado -->
                
    <table class="table striped hovered bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>MAIL</th>
              <th>Actualizar</th>
              <th>Direcciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in direcciones | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
              <td>{{ a.calle }}</td>
              <td>{{ a.telefono }}</td>
              <td ng-if="a.mail != null">{{ a.mail }}</td>
              <td ng-if="a.mail == null">NINGUNO</td>
              <td align="center">
                  <a href="dashboard#/editclient/{{ a._id }}">
                    <button class="button success mif-pencil" ng-Click="update(a)"> Actualizar</button>
                  </a>
                </td>

              <td align="center">
                <a href="dashboard#/direcciones/{{ a._id }}">
                  <button class="button primary mif-earth2" ng-Click="update(a)"> Direcciones</button>
                </a>
              </td>
                
            </tr>
          </tbody>
        </table>
        
<div class="grid">
    <div class="row flex-just-sa">
        <div class="cell-auto-size">
        <div class='pagination'>
          <button type='button ' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = 0'>Principio</button>

          <button type='button' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
          
          <button type='button' class='item current' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{ page.no }}</button>
          
          <button type='button' class='item' ng-disabled='currentPage >= direcciones.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>

          <button type='button' class='item' ng-disabled='currentPage == direcciones.length/pageSize - 1' ng-click='currentPage = direcciones.length/pageSize - 1'>Final</button>
        </div>
    </div>    
    </div>
</div>
<hr>
</div></div>
</div>
</div>