<div class="panel info" ng-controller="UpdateClient">
<div class="heading">

<span class="title">CLIENTE: {{ DateClient.nombre}}</span>
</div>
<div class="content">
	<form align="center">  
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Nombre" class="input-full" ng-model="DateClient.nombre">
        <span class="label">Nuevo nombre</span>
        <span class="informer">Ingrese solo el nombre</span>
        <span class="icon mif-user"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Apellidos" ng-model="DateClient.apellidos">
        <span class="label">Nuevo Apellidos</span>
        <span class="informer">Ingrese solo el Apellidos</span>
        <span class="icon mif-user"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Direccion" ng-model="DateClient.direccion">
        <span class="label">Nueva Direccion</span>
        <span class="informer">Direccion actual</span>
        <span class="icon mif-home"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Movil" ng-model="DateClient.movil">
        <span class="label">Numero Movil</span>
        <span class="informer">Movil personal</span>
        <span class="icon mif-mobile"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Telefono fijo" ng-model="DateClient.telefono">
        <span class="label">Numero de Telefono fijo</span>
        <span class="informer">Telefono fijo personal</span>
        <span class="icon mif-phone"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="E-mail" ng-model="DateClient.mail">
        <span class="label">Email de cliente</span>
        <span class="informer">No olvide el @</span>
        <span class="icon mif-mail"></span>
        </div>
        <br>
        <input type="hidden" name="id" ng-model="DateClient._id"">
        
        <button class="button info loading-pulse" ng-click="Update()">ACTUALIZAR</button>
        
        
        <button class="button alert loading-cube" onclick="toggleMetroDialog('#dialog-ajax')">ELIMINAR</button>
        
    </form>
    <br><br>
</div>


<div data-role="dialog" id="dialog-ajax" class="padding30" data-type="" 
    data-close-button="true"
    data-width="auto"
    data-overlay="true">

        <p>
        <font face="Segoe UI Bold">
            <h4>SE ELIMINARA EL CLIENTE: {{DateClient.nombre}} {{DateClient.apellidos}}</h4>
        </font>
        <font face="Segoe UI">
            DIRECCION: {{DateClient.direccion}}
            <br>
            MOVIL: {{DateClient.movil}}
            <br>
            TELEFONO: {{DateClient.telefono}}
        </font>    
            
        </p>

        <button class="button alert" ng-click="Delete()" onclick="hideMetroDialog('#dialog-ajax')">SI</button>
        <button class="button success" onclick="hideMetroDialog('#dialog-ajax')">NO</button>
</div>


</div>


