<div ng-controller="caja">
<div align="center">
    <button class="button rounded large-button primary" ng-click="SelectAny()" ng-disabled="money.occupied">Seleccionar ninguno</button>

    <button class="button rounded large-button primary" ng-click="SelectAll()" ng-disabled="money.occupied">Seleccionar todos</button>

    <button class="button rounded large-button success" onclick="toggleMetroDialog('#payselect')" ng-disabled="money.occupied">Cobrar {{money.totalp}} productos seleccionados $ {{money.select}}</button>

    <button class="button rounded large-button warning" onclick="toggleMetroDialog('#payall')" ng-disabled="money.occupied">Cobrar todos $ {{money.select_all}} - # {{ comandas.length }} productos</button>

</div>
<hr>
<div class="grid">
    <div class="row cells2">
        <div class="cell-auto-size"  style="width: 100%">
            <div class="input-control text " data-role="input" style="width: 95%" >

                        <input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar - Producto/Codigo barra / status" ng-change="search()" autofocus autocomplete="off" style="text-align: center">

                        <button class="button" ng-click="addonelist()"><span class="mif-search"></span></button>
                    </div>

                </center>

        </div>
        
        <div class="cell-auto-size"  style="width: 100%">
            <select id ="select" ng-model="tables.select" style="text-align: center; text-align-last: center; width: 95%" ng-change="select_table()">
                    <option value="all">---Mesas---</option>
                    <option ng-repeat=" a in tables" value="{{ a._id }}">Mesa numero: {{a.numero}}</option>
                </select>
                <script>
                        $(function(){
                            $("#select").select2();
                        });
                    </script>
        </div>
    </div>
</div>
	<table class="table striped hovered bordered border">
         <thead>
            <tr>
            <th>PRODUCTO</th>
            <th>UNIDADES</th>
            <th>ESTADO</th>
            <th>DELIVERY</th>
            <th>PRECIO C/U</th>
            <th>SELECCIONAR</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="a in comandas" ng-model="comandas" >	
                <td>
                <img class= "img-round100" ng-src="{{ a.product.img }}"> {{ a.product.name }}
                </td>

                <td align="center"><span class="tag success"><h2>{{ a.unidades }}</h2></span></td>
                <td>{{ a.status }}</td>
                <td ng-if="a.delivery"><span class="tag warning"><h3>P. llevar</h3></span></td>
                
                <td ng-if="!a.delivery"><span class="tag info"><h3>Mesa {{ a.mesa.numero }}</h3></span></td>
                
                <td>$ {{ a.product.price }}</td>
                <td align="center">
                    <label class="input-control checkbox">
                        <input type="checkbox" ng-model="a.check" ng-change="calculatetotalselect()">
                        <span class="check"></span>
                        <span class="caption">Seleccionar</span>
                    </label>
                </td>
              </tr>
          </tbody>
    </table>
    <!--Ventana pagar seleccion-->
    <div data-role="dialog" id="payselect" class="padding30" data-type="" 
      data-close-button="true"
      data-width="auto"
      data-overlay="true">
      <p>COBRAR PRODUCTOS SELECCIONADOS</p> 
      <ul>
          <li ng-repeat="a in comandasselect | limitTo: 10">
            {{a.unidades}} - {{a.product.name}} $: {{a.product.price}}
          </li>
        <h6>Maximo de productos mostrados: 10</h6>
        <p>TOTAL: $ {{money.select}}</p>
      </ul>
      <button class="button warning" ng-click="payselect()" onclick="hideMetroDialog('#payselect')"><span class="mif-checkmark"></span> SI</button>
      <button class="button success" onclick="hideMetroDialog('#payselect')"><span class="mif-cross"></span> NO</button>
    </div>
    <!--Ventana pagar seleccion-->

    <!--Ventana pagar todos-->
    <div data-role="dialog" id="payall" class="padding30" data-type="" 
      data-close-button="true"
      data-width="auto"
      data-overlay="true">
      
      <p>COBRAR TODOS LOS PRODUCTOS</p> 
      <ul>
          <li ng-repeat="a in comandas | limitTo: 10">
            {{a.unidades}} - {{a.product.name}} $: {{a.product.price}}
          </li>
        <h6>Maximo de productos mostrados: 10</h6>
        <h6>Total de productos: {{ comandas.length }}</h6>
        <p>TOTAL: $ {{money.select_all}}</p>
      </ul>
       
      <button class="button warning" ng-click="payall()" onclick="hideMetroDialog('#payall')"><span class="mif-checkmark"></span> SI</button>
      <button class="button success" onclick="hideMetroDialog('#payall')"><span class="mif-cross"></span> NO</button>
    </div>
    <!--Ventana pagar todos-->
</div>