<div ng-controller="tables">
	
	<div class="grid">
	    <div class="row cells12">
	        <div class="cell colspan7">
	        <!--Contanido mesas-->
	        <div class="panel" style="border: 1px solid #fff">
			    <div class="heading">
			        <center><span class="title">Mesas</span></center>
			    </div>

			    <div class="content">
			    
			    <center>
			    	<div class="input-control text " data-role="input" style="width: 95%" >

		    			<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar" ng-change="search()" autofocus autocomplete="off" style="text-align: center">

		    			<button class="button" ng-click="addonelist()"><span class="mif-search"></span></button>
	    			</div>

	    			<select id ="select" ng-model="places.select" style="text-align: center; text-align-last: center; width: 95%" ng-change="select_place()">
		            <option value="all">---VER TODOS---</option>
		            <option ng-repeat=" a in places" value="{{ a._id }}">{{a.lugar}}</option>
		        </select>
		        <script>
		                $(function(){
		                    $("#select").select2();
		                });
		            </script>

			    </center>

			    	<center>
			    		<span ng-repeat = "a in tables" ng-model="tables">
				    		<button class="button btn_cuadrada" ng-show="a.type_mesa == 'cuadrada' && !a.open && !a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>

				        	<button class="button btn_cuadrada_open" ng-show="a.type_mesa == 'cuadrada' && a.open && !a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>

				        	<button class="button btn_cuadrada_open_select" ng-show="a.type_mesa == 'cuadrada' && a.select " ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>


				        	<button class="button btn_rectangular" ng-show="a.type_mesa == 'rectangular' && !a.open && !a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>
				        	
				        	<button class="button btn_rectangular_open" ng-show="a.type_mesa == 'rectangular' && a.open && !a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>

				        	<button class="button btn_rectangular_open_select" ng-show="a.type_mesa == 'rectangular' && a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>


				        	<button class="button btn_redonda" ng-show="a.type_mesa == 'redonda' && !a.open && !a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>

				        	<button class="button btn_redonda_open" ng-show="a.type_mesa == 'redonda' && a.open && !a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>

				        	<button class="button btn_redonda_open_select" ng-show="a.type_mesa == 'redonda' && a.select" ng-click="action(a)">
				        	<strong><h4>Mesa: {{ a.numero }}</h4></strong><h6>Pers: {{ a.peoples }}</h6>
				        	</button>
				    </span>
			    	</center>
			    	<br>
			    </div>
			</div>
	        <!--Finaliza Contanido mesas-->
	        </div>
	        <div class="cell-auto-size"  style="width: 100%">
	        	<!--Contenido comandas-->
	        <div class="panel success" style="border: 1px solid #fff">
			    <div class="heading">
			        <center><span class="title">Comandas</span></center>
			    </div>
			    <div class="content">
			    	<center>
			    	<button class="button" ng-click="open()" ng-show="!table_select.open && table_select.numero">
						Abrir mesa {{ table_select.numero }}
					</button>
					
					<div ng-show="table_select.open">
						<br>
						<!--Levantar pedido-->
						<select id ="select0" ng-model="categories.select" style="text-align: center; text-align-last: center; width: 95%" ng-change="show_categories()">
			            <option value="">---Cetegorias---</option>
			            <option ng-repeat=" a in category" value="{{ a._id }}">{{a.categoria}}</option>
			        </select>
			        <script>
		                $(function(){
		                    $("#select0").select2();
		                });
		            </script>
		            <form>
		    		<div class="input-control text " data-role="input" style="width: 95%">

		    		<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar" ng-change="search()" id="input_search" autofocus autocomplete="off">

		    		<button class="button" ng-click="addonelist()"><span class="mif-plus"></span></button></div>
		        	</form>

		        	<div class='pagination' >
          <button type='button ' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = 0'>Principio</button>

          <button type='button' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>

          <button type='button' class='item current' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{ page.no }}</button>

          <button type='button' class='item' ng-disabled='currentPage >= products.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>

          <button type='button' class='item' ng-disabled='currentPage == products.length/pageSize - 1' ng-click='currentPage = products.length/pageSize - 1'>Final</button>
        
        <table class="table striped hovered bordered">
         <thead>
            <tr>
            <th>PRODUCTO</th>
            <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="a in products | startFromGrid: currentPage * pageSize | limitTo: pageSize" ng-model="products" >
                <td align="center">
                <img class= "img-round50" ng-src="{{a.img}}"><br>
                {{ a.name }} - $ {{ a.price }}</td>
                <td align="center">
                	<button class="button cycle-button large-button primary" ng-click="add(a)">+</button>
                	<button class="button cycle-button large-button" ng-click="remove(a)">-</button>
                </td>

              </tr>
          </tbody>
    </table>
    </div>
						<!--Levantar pedido-->
					</div>

					<button class="button" ng-click="close()" ng-show="table_select.open">
						Cerrar mesa {{ table_select.numero }}
					</button>

			    	</center>
			    </div>
			</div>
	        <!--Finaliza Contenido comandas-->
	        </div>
	    </div>
	</div>
</div>