<div ng-controller="sales_vtd">            
<!-- Crud -->
<div class="grid">
<div class="row flex-just-sa">
<div class="cell-auto-size">
	<div class="panel info" style="border: 2px solid #fff;">
		<div class="heading">
		<span class="title">Productos</span></div>
		<div class="content" align="center">
		
		<div class="input-control select" style="width: 95%">
        <select ng-model="categories.select" style="text-align: center; text-align-last: center;" ng-change="show_categories()">
            <option value="">---Cetegorias---</option>
            <option ng-repeat=" a in categories" value="{{ a._id }}">{{a.categoria}}</option>
        </select>
        </div>

		<div class="input-control text " data-role="input"style="width: 95%">
        
        		<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar" ng-change="search()">
        
        		<button class="button" ng-click="search()"><span class="mif-search"></span></button></div>
                </form>
                <div class="">
    
        <div class='pagination' align="center">
          <button type='button ' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = 0'>Principio</button>

          <button type='button' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
          
          <button type='button' class='item current' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{ page.no }}</button>
          
          <button type='button' class='item' ng-disabled='currentPage >= products.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>

          <button type='button' class='item' ng-disabled='currentPage == products.length/pageSize - 1' ng-click='currentPage = products.length/pageSize - 1'>Final</button>
        </div>
    </div>    
    
                <table class="table striped hovered bordered">
         <thead>
            <tr>
            <th>PRODUCTO</th>
            <th>DISPONIBLE</th>
            <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="a in products | startFromGrid: currentPage * pageSize | limitTo: pageSize" ng-model="products" >
                <td align="center">{{ a.name }} - $ {{ a.price }}</td>
                <td ng-if="a.receta.name == null" align="center">{{ a.stock }}</td>
                <td ng-if="a.receta.name != null" align="center">{{ calulate(a.receta._id) }}</td>
                <td align="center">
                	<button class="button cycle-button large-button primary" ng-click="add(a)">+</button>
                	<button class="button cycle-button large-button" ng-click="remove(a)">-</button>
                </td>
                
              </tr>
          </tbody>
    </table>
    <hr>
		</div>
	</div>
</div>
<div class="cell-auto-size"  style="width: 100%">
	
<div class="panel success" style="border: 2px solid #fff">
                <div class="heading">
                
                <span class="title">Comanda</span>
            
                </div>
                <div class="content">
                <div style="overflow-x:auto;">
    <table class="table striped hovered bordered">
          <thead>
            <tr>
              <th>UNIDADES</th>
              <th>PRODUCTO</th>
              <th>UNITARIO</th>
              <th>TOTAL</th>
              <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in comanda'>
              <td align="center">
              <span class="tag success"><h2>{{ a.unidades }}</h2></span>
              </td>
              <td><img class="img-round80" ng-src="{{ a.img }}"> {{ a.name }}</td>
              <td align="center"><span class="tag info"><h4>$ {{ a.price }}</h4></span></td>
              <td align="center"><span class="tag warning"><h4>$ {{ a.total }}</h4></span></td>
              <td align="center">
                	<button class="button cycle-button large-button primary" ng-click="add(a)">+</button>
                	<button class="button cycle-button large-button" ng-click="remove(a)">-</button>
                </td>
            </tr>
          </tbody>
        </table>
        <div align="right" style="border-right: 8px solid transparent;">
        	<button class="button danger large-button">Total $ {{ comanda.total }}</button>
        </div>
        </div>
<hr>
</div></div>
</div>  
</div>