<div ng-controller="sales_vtd">            
<!-- Crud -->
<div class="grid">
<div class="row flex-just-sa">
<div class="cell-auto-size">
	<div class="panel info" style="border: 2px solid #fff;">
		<div class="heading">
		<span class="title">Productos</span></div>
		<div class="content" align="center">
		<div class="input-control text " data-role="input"style="width: 95%">
        
        		<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar">
        
        		<button class="button" ng-click="search()"><span class="mif-search"></span></button></div>
                </form>
                <table class="table striped hovered bordered">
         <thead>
            <tr>
            <th>PRODUCTO</th>
            <th>DISPONIBLE</th>
            <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="a in products" ng-model="products" >
                <td align="center">{{ a.name }}</td>
                <td ng-if="a.receta.name == null" align="center">{{ a.stock }}</td>
                <td ng-if="a.receta.name != null" align="center">{{ calulate(a.receta._id) }}</td>
                <td>agregar</td>
                
              </tr>
          </tbody>
    </table>
		</div>
	</div>
</div>
<div class="cell-auto-size"  style="width: 100%">
	
<div class="panel success" style="border: 2px solid #fff">
                <div class="heading">
                
                <span class="title">Ingredientes</span>
            
                </div>
                <div class="content">

                <form >
                <div class="input-control text " data-role="input" style="width: 100%">
        
        		<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar">
        
        		<button class="button" ng-click="search()"><span class="mif-search"></span></button></div>
                </form>

    <table class="table striped hovered bordered">
          <thead>
            <tr>
              <th>Ingrediente</th>
              <th>Existente</th>
              
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in ingredients | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
              <td>{{ a.name }}</td>
                <td ng-if=" a.stock > 1" >{{ a.stock }} {{ a.measurements.namefasts }}</td>
                <td ng-if=" a.stock < 1" >{{ a.stock }} {{ a.measurements.namefast }}</td>
                <td ng-if=" a.stock == 1" >{{ a.stock }} {{ a.measurements.namefast }}</td>
            </tr>
          </tbody>
        </table>
        
<div class="grid">
    <div class="row flex-just-sa">
        <div class="cell-auto-size">
        <div class='pagination'>

          <button type='button ' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = 0'>Principio</button>

          <button type='button' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
          
          <button type='button' class='item current' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{ page.no }}</button>
          
          <button type='button' class='item' ng-disabled='currentPage >= ingredients.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>

          <button type='button' class='item' ng-disabled='currentPage == ingredients.length/pageSize - 1' ng-click='currentPage = ingredients.length/pageSize - 1'>Final</button>
        </div>
    </div>    
    </div>
</div>

<hr>
</div></div>
</div>  
</div>