<div ng-controller="sales_vtd">            
<!-- Crud -->
<div class="grid">
<div class="row flex-just-sa">
<div class="cell-auto-size">
	<div class="panel info" style="border: 2px solid #fff;">
		<div class="heading">
		<span class="title">Productos</span></div>
		<div class="content" align="center">
		<div class="input-control text " data-role="input"style="width: 95%">
        
        		<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar" ng-change="search()">
        
        		<button class="button" ng-click="search()"><span class="mif-search"></span></button></div>
                </form>
                <table class="table striped hovered bordered">
         <thead>
            <tr>
            <th>PRODUCTO</th>
            <th>DISPONIBLE</th>
            <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="a in products" ng-model="products" >
                <td align="center">{{ a.name }} - $ {{ a.price }}</td>
                <td ng-if="a.receta.name == null" align="center">{{ a.stock }}</td>
                <td ng-if="a.receta.name != null" align="center">{{ calulate(a.receta._id) }}</td>
                <td align="center">
                	<button class="button cycle-button large-button primary" ng-click="add(a)">+</button>
                	<button class="button cycle-button large-button" ng-click="remove(a)">-</button>
                </td>
                
              </tr>
          </tbody>
    </table>
		</div>
	</div>
</div>
<div class="cell-auto-size"  style="width: 100%">
	
<div class="panel success" style="border: 2px solid #fff">
                <div class="heading">
                
                <span class="title">Comanda</span>
            
                </div>
                <div class="content">
                <div style="overflow-x:auto;">
    <table class="table striped hovered bordered">
          <thead>
            <tr>
              <th>UNIDADES</th>
              <th>PRODUCTO</th>
              <th>UNITARIO</th>
              <th>TOTAL</th>
              <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in comanda'>
              <td align="center">
              <span class="tag success"><h2>{{ a.unidades }}</h2></span>
              </td>
              <td><img class="img-round80" ng-src="{{ a.img }}"> {{ a.name }}</td>
              <td align="center"><span class="tag info"><h4>$ {{ a.price }}</h4></span></td>
              <td align="center"><span class="tag warning"><h4>$ {{ a.total }}</h4></span></td>
              <td align="center">
                	<button class="button cycle-button large-button primary" ng-click="add(a)">+</button>
                	<button class="button cycle-button large-button" ng-click="remove(a)">-</button>
                </td>
            </tr>
          </tbody>
        </table>
        <div align="right" style="border-right: 8px solid transparent;">
        	<span class="tag alert"><h1> Total $ {{ comanda.total }}</h1></span>
        </div>
        </div>
<hr>
</div></div>
</div>  
</div>