<div class="content" align="center" ng-controller="finance_administrator">
    
<hr>
    <!--Busqueda y numero mostrado -->
    <div class="row flex-just-sa">
            <div class="colspan6" style="width: 100%" align="center">
            <span class="tag warning"><h4>Desde ...</h4></span>
            <div data-role="calendar" data-locale='es' style="width: 95%"></div>
            </div>
            <div class="colspan6" style="width: 100%" align="center">
            <span class="tag success"><h4>Hasta ...</h4></span>
            <div data-role="calendar" data-locale='es' style="width: 95%"></div>
            </div>
        </div>
    <!--Finaliza Busqueda y numero mostrado -->
    <!--Busqueda y numero mostrado -->
    <div class="row flex-just-sa">
            <div class="colspan6" style="width: 100%" align="center">
            <select id="select" ng-model="tmp.user" ng-change="ViewMovementsUser()" style="text-align: center; text-align-last: center; width: 95%" >
                <option value="">--- USUARIOS ---</option>
                <option value="all">--- TODOS ---</option>
                <option ng-repeat = "a in users" value="{{ a._id }}">{{ a.nombre }}</option>
              </select>
            <script>
                $(function(){
                    $("#select").select2();
                });
            </script>
            </div>
            <div class="colspan6" style="width: 100%" align="center">
                
                <select id = "select1" ng-model="pageSizetmp.items" ng-change="ChangePageItems()" style="text-align: center; text-align-last: center; width: 95%">
                    <option value="">---Items mostrados---</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="todos">Ver todos</option>
                </select>
                <script>
                $(function(){
                    $("#select1").select2();
                });
                </script>
                
            </div>
        </div>
    <!--Finaliza Busqueda y numero mostrado -->
    <div style="overflow-x:auto;">
    <table class="table striped hovered bordered border">
      <thead>
            <tr>
              <th>FOTO</th>
              <th>usuario</th>
              <th>FECHA</th>
              <th>Monto</th>
              <th>VER PRODUCTOS</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in sales | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
              <td align="center"><img class="img-round80" ng-src="{{ a.user.img }}"></td>
              <td>{{ a.user.nombre }}</td>
              <td>{{ a.fecha }}</td> 
              <td>$ {{ a.monto }}</td>
              <td align="center">
                <button class="button success" ng-click="showventa(a)" onclick="toggleMetroDialog('#showventa')">Productos vendidos</button>
              </td>
            </tr>
          </tbody>
    </table>
    <div class="row flex-just-sa">
        <div class="cell-auto-size">
        <div class='pagination'>
          <button type='button ' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = 0'>Principio</button>

          <button type='button' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
          
          <button type='button' class='item current' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{ page.no }}</button>
          
          <button type='button' class='item' ng-disabled='currentPage >= sales.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>

          <button type='button' class='item' ng-disabled='currentPage == sales.length/pageSize - 1' ng-click='currentPage = sales.length/pageSize - 1'>Final</button>
        </div>
    </div>    
    </div>
</div>
<!--Ventana modal showventa-->
    <div data-role="dialog" id="showventa" class="padding30" data-type="" 
      data-close-button="true"
      data-width="auto"
      data-overlay="true">
      <p><h5><img class="img-round50" ng-src="{{ usuario.img }}"> {{ sale.user.nombre }}
        <br>
        <br>{{ sale.description}}</span></h5></p>
       <hr>
      <ul align="left">
      <li ng-repeat ="a in sale.products">{{ a.product.name}} $ {{ a.product.price}}</li>
      </ul> 

      <button class="button success" onclick="hideMetroDialog('#showventa')"><span class="mif-checkmark"></span> OK</button>
    </div>
    <!--Ventana modal showventa-->
    </div>
<!-- Finaliza Acordeon-->