<div ng-controller="ingredients">        
    
<!-- Crud -->
<div class="grid">
    <div class="row flex-just-sa">
        <div class="cell-auto-size">
            <div class="panel info" style="border: 2px solid #fff;">
                <div class="heading">
                
                <span class="title">Nuevo ingrediente</span>
                </div>
                <div class="content">
                <form align="center">  

                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Nombre" ng-model="ingredient.name" class="input-full">
                        <span class="informer"></span>
                        <span class="icon mif-stack3"></span>
                        </div>

                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Existente" ng-model="ingredient.stock" class="input-full">
                        <span class="informer"></span>
                        <span class="icon mif-stack3"></span>
                        </div>

                        <br>
                       
                        <div class="input-control select" >
                        <select ng-model="ingredient.measurements">
                            <option value="">---U. medida---</option>
                            <option ng-repeat=" a in measuremeants" value="{{ a._id }}">{{a.name}} ({{ a.namefast }})</option>
                        </select>
                        </div>


                        <br>
                        
                        <button class="button success loading-pulse" ng-click="create()">
                        Agregar
                        </button>
                    </form>
                    <br><br>

    </div>

</div>

        </div>
<div class="cell-auto-size" style="width: 100%">
	
<div class="panel success" style="border: 2px solid #fff">
                <div class="heading">
                
                <span class="title">Ingredientes</span>
            
                </div>
                <div class="content">

                <form >
                	<div class="input-control text " data-role="input" style="width: 100%">
        
        		<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar">
        
        		<button class="button" ng-click="search()"><span class="mif-search"></span></button></div>
                </form>

    <table class="table striped hovered">
        <tr>
            <th>Ingrediente</th>
            <th>Existente</th>
        </tr>
        <tr ng-repeat="a in ingredients" align="center" ng-model="ingredients" >
            <td>{{ a.name }}</td>
            <td ng-if=" a.stock > 1" >{{ a.stock }} {{ a.measurements.namefasts }}</td>
            <td ng-if=" a.stock < 1" >{{ a.stock }} {{ a.measurements.namefast }}</td>
            <td ng-if=" a.stock == 1" >{{ a.stock }} {{ a.measurements.namefast }}</td>
        </tr>
    </table>

</div></div>
</div>

        <div class="cell-auto-size">
            
<div class="panel warning" style="border: 2px solid #fff;">
                <div class="heading">
                
                <span class="title">Actualizar ingrediente</span>
                </div>
                <div class="content">
                <form align="center" >  

                        <div class="input-control select">
                        <select ng-model="select.select"  ng-change="LoadValuesEdit()">
                            <option value="">---Ingredientes---</option>
                            <option ng-repeat=" a in IngredientUpdate" value="{{ a._id }}">{{a.name}}</option>
                        </select>
                        </div>
                        <br>
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Nombre" ng-model="select.name" class="input-full">
                        <span class="label">Nombre</span>
                        <span class="informer"></span>
                        <span class="icon mif-stack3"></span>
                        </div>

                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Existente" ng-model="select.stock" class="input-full">
                        <span class="informer"></span>
                        <span class="icon mif-stack3"></span>
                        </div>

                        <br>
                        <div class="input-control select" >
                        <select ng-model="select.measurements._id">
                            <option value="">---U. medida---</option>
                            <option ng-repeat=" a in measuremeants" value="{{ a._id }}">{{a.name}} ({{ a.namefast }})</option>
                        </select>
                        </div>

                        <br>
                        
                        <button class="button success loading-pulse" ng-click="update()">
                        Actualizar
                        </button>
                        <button class="button danger loading-pulse" onclick="toggleMetroDialog('#update')" >
                        Eliminar
                        </button>
                    </form>
                    <br><br>
   
</div>



        </div>

        </div>
        
    </div>
</div>
<div data-role="dialog" id="update" class="padding30" data-type="" 
    data-close-button="true"
    data-width="auto"
    data-overlay="true">

        <p>
        <font face="Segoe UI Bold">
            <h4>SE ELIMINARA EL PRODUCTO?</h4>
        </font>
        <font face="Segoe UI">
            NOMBRE: {{select.name}}
            <br>
            <span ng-if= "select.kilogramo == true">UNIDAD DE MEDIDA: KILOGRAMOS</span>
            <span ng-if= "select.kilogramo == false">UNIDAD DE MEDIDA: GRAMOS</span>
        </font>    
            
        </p>

        <button class="button alert" ng-click="delete()" onclick="hideMetroDialog('#update')">SI</button>
        <button class="button success" onclick="hideMetroDialog('#update')">NO</button>
</div>


</div>
<!--Opciones-->
<div class="grid">
    <div class="row flex-just-sa">
        <div class="tile bg-emerald fg-white cell-auto-size" data-role="tile"  onclick="document.location.href='admin_dashboard#/management_clients', hideMetroDialog('#clients')">
                <div class="tile-content iconic">
                    <span class="icon mif-file-pdf"></span>
                </div>
                <span class="tile-label">Generar reporte</span>
        </div>
        
        <div class="tile bg-amber fg-white cell-auto-size" data-role="tile" onclick="document.location.href='admin_dashboard#/add_client', hideMetroDialog('#clients')">
                <div class="tile-content iconic">
                    <span class="icon mif-list2"></span>
                </div>
                <span class="tile-label">Listar escasos</span>
        </div>

        <div class="tile bg-green fg-white cell-auto-size" data-role="tile" onclick="document.location.href='admin_dashboard#/add_client', hideMetroDialog('#clients')">
                <div class="tile-content iconic">
                    <span class="icon mif-plus"></span>
                </div>
                <span class="tile-label">Compras</span>
        </div>

        
        <div class="tile bg-cyan fg-white cell-auto-size" data-role="tile" onclick="document.location.href='admin_dashboard#/add_client', hideMetroDialog('#clients')">
                <div class="tile-content iconic">
                    <span class="icon mif-calculator"></span>
                </div>
                <span class="tile-label">Convertir a gramos</span>
        </div>

        <div class="tile bg-crimson fg-white cell-auto-size" data-role="tile" onclick="document.location.href='admin_dashboard#/add_client', hideMetroDialog('#clients')">
                <div class="tile-content iconic">
                    <span class="icon mif-not"></span>
                </div>
                <span class="tile-label">Eliminar todos</span>
        </div>


    </div>
</div>
</div>