<div class="panel info" ng-controller="catproducts">
                <div class="heading">
                
                <span class="title">Agregar Categoria</span>
                </div>
                <div class="content">
                <form align="center">  
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Categoria" ng-model="Newproduct.categoria" class="input-full">
                        <span class="label">Nombre categoria</span>
                        <span class="informer"></span>
                        <span class="icon mif-user"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Descripcion" ng-model="Newproduct.descripcion" class="input-full" >
                        <span class="label">Descripcion categoria</span>
                        <span class="informer"></span>
                        <span class="icon mif-paragraph-left"></span>
                        </div>
                        
                        <br><br>
                        
                        <button class="button success loading-pulse" ng-click="CreateCatProduct()">
                        Agregar
                        </button>
                    </form>
                    <br><br>
                    
<div class="panel info">
	<div class="heading">
    
    <span class="title">Listado de categorias</span>
    </div>
    <div class="content">
    
    <form>
        <div class="content">
    
    <div class="input-control text big-input " data-role="input" style="width: 100%">
        
        <input type="text" name="filter" ng-model="inputbox.text" placeholder="Buscar">
        
        <button class="button" ng-click="SearchCatProduct()"><span class="mif-search"></span></button>
        
    </div>
    </form>

	<table class="table striped hovered">
	<th>
		<h4>CATEGORIA</h4>
	</th>
	<th>
		<h4>DESCRIPCION</h4>
	</th>
	<tr align="center" ng-repeat="category in productstmp">
		<td>
			{{ category.categoria }}
		</td>
		<td>
			{{ category.descripcion }}
		</td>
	</tr>

</table>
    </div>
	
</div>
</div>
</div>
</div>
