<div class="panel warning" ng-controller="ingredientes">
                <div class="heading">
                
                <span class="title">Agregar Ingrediente</span>
                </div>
                <div class="content">
                <form align="center">  
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Nombre" ng-model="Newproduct.nombre" class="input-full" required="">
                        <span class="label">Nombre ingrediente</span>
                        <span class="informer"></span>
                        <span class="icon mif-user"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Descripcion" ng-model="Newproduct.descripcion" class="input-full" required="">
                        <span class="label">Descripcion</span>
                        <span class="informer"></span>
                        <span class="icon mif-paragraph-left"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="number" placeholder="Cantidad" ng-model="Newproduct.cantidad" class="input-full" required="">
                        <span class="label">Cantidad</span>
                        <span class="informer"></span>
                        <span class="icon mif-safari"></span>
                        </div>
                        <br><br>
                        
                        <button class="button success loading-pulse" ng-click="CreateIngrediente()">
                        Agregar
                        </button>
                    </form>
                    <br><br>
                    
<div class="panel warning">
	<div class="heading">
    
    <span class="title">Listado de ingredientes</span>
    </div>
    <form>
    	<div class="content">
	
	<div class="input-control text big-input " data-role="input" style="width: 100%">
	    
	    <input type="text" name="filter" ng-model="inputbox.text">
	    
	    <button class="button" ng-click="SearchIngredient()"><span class="mif-search"></span></button>
	    
	</div>
    </form>

	<table class="table striped hovered">

	<th>
		NOMBRE
	</th>
	
	<th>
		CANTIDAD
	</th>
	<th>
		OPCION
	</th>
	<tr align="center" ng-repeat="ingredient in ingredientestmp">
		<td>
			{{ ingredient.nombre }}
		</td>
		<td>
			{{ ingredient.cantidad }}
		</td>
		<td>
			
			<a href="dashboard#/ingredientes/{{ ingredient._id }}">
				<button class="button success rounded loading-cube">EDITAR</button>
			</a>


		</td>
	</tr>

</table>
    </div>
	
</div>
</div>
</div>
</div>
