<div ng-controller="products">

<div class="accordion large-heading" data-role="accordion" ng-controller="add_recetas">
    <div class="frame">
        <div class="heading"><span class="mif-plus icon"></span> Agregar</span></div>
        <div class="content" align="center">
        <!-- Nuevo producto-->
        <div class="panel info">
        <div class="heading">
        
        <span class="title">Nuevo producto</span>
        </div>
        <div class="content">
        <form align="center">  

                
        <div class="input-control select" >
        <select ng-model="product.category">
            <option value="">---Cetagorias---</option>
            <option ng-repeat=" a in categories" value="{{ a._id }}">{{a.categoria}}</option>
        </select>
        </div>
        <br>

        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Nombre" ng-model="product.name" class="input-full">
        <span class="label">Nombre</span>
        <span class="informer"></span>
        <span class="icon mif-stack3"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="text" placeholder="Descripcion" ng-model="product.description" class="input-full" >
        <span class="label">Descripcion</span>
        <span class="informer"></span>
        <span class="icon mif-paragraph-left"></span>
        </div>
        
        <div class="input-control modern text iconic" id="widthfull">
        <input type="number" placeholder="Stock" ng-model="product.stock" class="input-full" >
        <span class="label">Stock</span>
        <span class="informer"></span>
        <span class="icon mif-list-numbered"></span>
        </div>

        <br><br><br><br><br>
        
        <button class="button success loading-pulse" ng-click="create()">
        Agregar
        </button>
    </form>
    <br><br>
    </div>
</div>
    <!-- Finaliza Nuevo producto-->
        </div>
    </div>
</div>
    <!--Lista de productos-->
    <div class="panel success" style="border: 2px solid #fff">
                <div class="heading">
                
                <span class="title">Agregar producto</span>
            
                </div>
                <div class="content">
    <table class="table striped hovered">
        <tr>
            <th>DISPONIBLE</th>
            <th>PRODUCTO</th>
            <th>CATEGORIA</th>
            <th>STOCK</th>
        </tr>
        <tr ng-repeat="a in products" align="center" ng-model="products" >
            <td ng-if=" a.stock > 0 "><span class="mif-thumbs-up fg-green mif-2x"></span>
            </td>
            <td ng-if=" a.stock < 1 "><span class="mif-thumbs-down fg-red mif-2x"></span>
            </td>
            <td>{{ a.name }}</td>
            <td>{{ a.category.categoria }}</td>
            <td>{{ a.stock }} </td>
        </tr>
    </table>

</div></div>
    <!--Finaliza Lista de productos-->
</div>