<div ng-controller="products">

<div class="accordion large-heading" data-role="accordion">
    <div class="frame">
        <div class="heading"><span class="mif-plus icon"></span> Agregar</span></div>
        <div class="content" align="center">
        <!-- Nuevo producto-->
        <div class="panel info">
        <div class="heading">
        
        <span class="title">Nuevo producto</span>
        </div>
        <div class="content">


        
            <div class="row flex-just-sa">
                <div class="cell-auto-size">
                <br>
                
                <div ng-show="product.img_load">
                <div data-role="preloader" data-type="cycle" data-style="color" style="margin: auto" align=""></div>
                </div>

                <div style="border: 20px solid transparent">
                    <img ng-show="!product.img_load" ng-src="{{product.img}}" style="
                    width: auto;
                    height: auto;">
                </div>
                
                
                <br><br>
                </div>
                <div class="cell-auto-size">
                <br>
                <form align="center" enctype="multipart/form-data">  

                    <div class="input-control select" >
                    <select ng-model="product.category" style="text-align: center; text-align-last: center;">
                        <option value="">---Cetegorias---</option>
                        <option ng-repeat=" a in categories" value="{{ a._id }}">{{a.categoria}}</option>
                    </select>
                    </div>
                    
                    
                    <div class="input-control file" data-role="input" ng-model="product.img">
                        <input type="file" placeholder="Imagen" onchange="angular.element(this).scope().photoChanged(this.files)">
                        <button class="button" ><span class="mif-folder"></span></button>

                    </div>
                    <br>
                    
                    <div class="input-control modern text iconic" id="widthfull">
                    <input type="text" placeholder="Codigo" ng-model="product.codebar" class="input-full">
                    <span class="label">Codigo</span>
                    <span class="informer"></span>
                    <span class="icon mif-barcode"></span>
                    </div>

                    <div class="input-control modern text iconic" id="widthfull">
                    <input type="text" placeholder="Nombre" ng-model="product.name" class="input-full">
                    <span class="label">Nombre</span>
                    <span class="informer"></span>
                    <span class="icon mif-stack3"></span>
                    </div>
                    
                    <div class="input-control modern text iconic" id="widthfull">
                    <input type="text" placeholder="Descripcion" ng-model="product.description" class="input-full" >
                    <span class="label">Descripcion</span>
                    <span class="informer"></span>
                    <span class="icon mif-paragraph-left"></span>
                    </div>
                    
                    <div class="input-control modern text iconic" id="widthfull" ng-show="!use_receta_create">
                    <input type="number" placeholder="Stock" ng-model="product.stock" class="input-full" >
                    <span class="label">Stock</span>
                    <span class="informer"></span>
                    <span class="icon mif-list-numbered"></span>
                    </div>
                    <br>
                    <label class="switch-original">
                        <input type="checkbox" ng-model="use_receta.status" ng-change="loadreceta()" ng-disabled="use_receta_load"> Usar receta
                        <span class="check"></span>
                    </label>
                    <br><br>

                    
                    <!-- Receta-->
                    <div ng-show="use_receta_load">

                        <div class="cell">
                        <div data-role="preloader" data-type="cycle" data-style="color" style="margin: auto" align=""></div>
                        </div>

                    </div>

                    <!--Usar receta-->
                    <div ng-show="use_receta_create" align="center">
                        
                        <div class="input-control select" >
                        <select ng-model="product.receta" style="text-align: center; text-align-last: center;">
                            <option value="">---Recetas---</option>
                            <option ng-repeat=" a in recetas" value="{{ a._id }}">{{a.name}}</option>
                        </select>
                        </div>

                    </div>
                    <!-- FInaliza Usar receta-->
                    <!-- FInaliza Receta-->

                    <br>
                    
                    <button class="button success loading-pulse" ng-click="create()">
                    Agregar
                    </button>
                </form>
                <br>
                </div>
            </div>
        
    </div>
</div>
    <!-- Finaliza Nuevo producto-->
        </div>
    </div>
</div>
    <!--Lista de productos-->
    <div class="panel success" style="border: 2px solid #fff">
                <div class="heading">
                
                <span class="title">Agregar producto</span>
            
                </div>
                <div class="content">
    <table class="table striped hovered">
        <tr>
            <th>DISPONIBLE</th>
            <th>PRODUCTO</th>
            <th>CATEGORIA</th>
            <th>STOCK</th>
        </tr>
        <tr ng-repeat="a in products" align="center" ng-model="products" >
            <td ng-if=" a.stock > 0 "><span class="mif-thumbs-up fg-green mif-2x"></span>
            </td>
            <td ng-if=" a.stock < 1 "><span class="mif-thumbs-down fg-red mif-2x"></span>
            </td>
            <td>{{ a.name }}</td>
            <td>{{ a.category.categoria }}</td>
            <td>{{ a.stock }} </td>
        </tr>
    </table>

</div></div>
    <!--Finaliza Lista de productos-->
</div>