<div ng-controller="my_comands">


<div align="center">
    <button class="button rounded large-button primary" ng-click="SelectAny()" ng-disabled="tmp.occupied">Seleccionar ninguno</button>

    <button class="button rounded large-button primary" ng-click="SelectAll()" ng-disabled="tmp.occupied">Seleccionar todos</button>

</div>

<div style="overflow-x:auto;">
    <table class="table striped hovered bordered border">
         <thead>
            <tr>
            <th>PRODUCTO</th>
            <th>ESTADO</th>
            <th>DELIVERY</th>
            <th>COMENTARIOS</th>
            <th>SELECCIONAR</th>
            <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="a in cook_products" ng-model="cook_products" >

                <td>
                <img class= "img-round100" ng-src="{{ a.product.img }}"> ({{ a.unidades }}) {{ a.product.name }}
                </td>

                <td align="center">{{ a.status }}</td>

                <td ng-if="a.delivery"><span class="tag warning"><h3>P. llevar</h3></span></td>
                <td ng-if="!a.delivery"><span class="tag info"><h3>Mesa</h3></span></td>
                <td>{{ a.comentario }}</td>
                <td align="center">
                    <label class="input-control checkbox">
                        <input type="checkbox" ng-model="a.check">
                        <span class="check"></span>
                        <span class="caption">Seleccionar</span>
                    </label>
                </td>
                <td>
                  <div class="split-button" ng-show="!a.preparando">
                      <button class="button warning" ng-click="select(a)" onclick="toggleMetroDialog('#cancelar')" ng-disabled="tmp.occupied">Cancelar</button>
                      <button class="split dropdown-toggle" ng-disabled="tmp.occupied"></button>
                      <ul class="split-content d-menu place-right" data-role="dropdown">
                          <li><a ng-click="call(a)">Comentarios</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
          </tbody>
    </table>
    </div>
    <!--Ventana Iniciar preparacion-->
    <div data-role="dialog" id="cancelar" class="padding30" data-type=""
      data-close-button="true"
      data-width="auto"
      data-overlay="true">
      <p><h3><img class="img-round50" ng-src="{{ tmp.product.img }}"> # Cancelar 1 de {{ tmp.unidades }} {{ tmp.product.name }}<br>
        <h4>Ensta seguro de cancelar 1 unidade de {{ tmp.unidades }} de {{ tmp.product.name }}<br>
        una vez confirmada la accion, no hay vuelta atraz.</h4></span></h3></p>

      <button class="button warning" ng-click="preparar(tmp)" onclick="hideMetroDialog('#preparar')"><span class="mif-checkmark" autofocus></span> SI</button>
      <button class="button success" onclick="hideMetroDialog('#cancelar')"><span class="mif-cross"></span> NO</button>
    </div>
    <!--Ventana Iniciar preparacion-->

</div>
