<div ng-controller="my_comands">

<div class="input-control text " data-role="input" style="width: 100%">
    <input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar" ng-change="search()" id="input_search" autofocus autocomplete="off">

    <button class="button" ng-click="search()"><span class="mif-search"></span></button>
</div>
<div style="overflow-x:auto;">
    <table class="table striped hovered bordered border">
         <thead>
            <tr>
            <th>PRODUCTO</th>
            <th>ESTADO</th>
            <th>DELIVERY</th>
            <th>COMENTARIOS</th>
            <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="a in cook_products" ng-model="cook_products" >

                <td>
                <img class= "img-round100" ng-src="{{ a.product.img }}"> ({{ a.unidades }}) {{ a.product.name }}
                </td>

                <td align="center">{{ a.status }}</td>

                <td ng-if="a.delivery"><span class="tag warning"><h3>P. llevar</h3></span></td>
                <td ng-if="!a.delivery"><span class="tag info"><h3>Mesa {{ a.mesa.numero }}</h3></span></td>
                <td>{{ a.comentario }}</td>
                <td>
                  <div class="split-button">
                      <button class="button warning" ng-click="select(a)" onclick="toggleMetroDialog('#cancelar')" ng-disabled="tmp.occupied">Cancelar</button>
                      <button class="split dropdown-toggle" ng-disabled="tmp.occupied"></button>
                      <ul class="split-content d-menu place-right" data-role="dropdown">
                          <li><a ng-click="select(a)" onclick="toggleMetroDialog('#change_coment')">Comentarios</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
          </tbody>
    </table>
    </div>
    <!--Ventana cancelar 1 producto-->
    <div data-role="dialog" id="cancelar" class="padding30" data-type=""
      data-close-button="true"
      data-width="auto"
      data-overlay="true">
      <p><h3><img class="img-round50" ng-src="{{ tmp.product.img }}"> # Cancelar 1 de {{ tmp.unidades }} {{ tmp.product.name }}<br>
        <h4>Ensta seguro de cancelar 1 unidade de {{ tmp.unidades }} de {{ tmp.product.name }}<br>
        una vez confirmada la accion, no hay vuelta atraz.</h4></span></h3></p>

      <button class="button alert" ng-click="cancelar(tmp)" onclick="hideMetroDialog('#cancelar')"><span class="mif-checkmark" autofocus></span> SI</button>
      <button class="button success" onclick="hideMetroDialog('#cancelar')"><span class="mif-cross"></span> NO</button>
    </div>
    <!--Ventana cancelar 1 producto-->

    <!--Ventana cambiar comentario-->
    <div data-role="dialog" id="change_coment" class="padding30" data-type=""
      data-close-button="true"
      data-width="auto"
      data-overlay="true">
      <p><h3><img class="img-round50" ng-src="{{ tmp.product.img }}"> # {{ tmp.unidades }} {{ tmp.product.name }}<br></h3></p>
      
      <textarea ng-model="tmp.comentario" rows=3 style="width: 100%"></textarea><br>

      <button class="button info" ng-click="change_coment(tmp)" onclick="hideMetroDialog('#change_coment')"><span class="mif-checkmark" autofocus></span> ENVIAR</button>
      <button class="button success" onclick="hideMetroDialog('#change_coment')"><span class="mif-cross"></span> OK</button>
    </div>
    <!--Ventana cambiar comentario-->

</div>
