<script>
    $(function(){
        $("#accordion").accordion();
    });
</script>

<div class="accordion large-heading" data-role="accordion" ng-controller="add_recetas">
    <div class="frame active">
        <div class="heading"><span class="mif-plus icon"></span> Nueva receta</span></div>
        <div class="content" align="center">
        	<!--Contenido agregar-->
	<div class="input-control modern text iconic" id="widthfull">
	    <input type="text" placeholder="Nombre" ng-model="receta.name" class="input-full">
	    <span class="informer"></span>
	    <span class="icon mif-stack3"></span>
    </div>

    <div class="input-control modern text iconic" id="widthfull">
	    <input type="text" placeholder="Descripcion" ng-model="receta.description" class="input-full">
	    <span class="informer"></span>
	    <span class="icon mif-stack3"></span>
    </div>
	</label>
	
	
	<div class="input-control textarea"
    data-role="input" data-text-auto-resize="true" data-text-max-height="200" style="width: 95%">
    <a class="place-center" title="">
        <h4>Indique los pasos o anotaciones para la preparacion</h4>
    </a>
    <textarea ng-model="receta.receta"></textarea>
	</div><hr>
	<!--Finaliza agregar-->
        </div>
    </div>
    
    <div class="frame">
        <div class="heading"><span class="mif-shopping-basket icon"></span>Mis Ingredientes</span></div>
        <div class="content" align="center">
        	<!--Busqueda y numero mostrado -->
	<a class="place-center" title="">
        <h4>Indique las porciones de ingredientes para la preparacion</h4>
    </a>
	
	<div>
	    <div class="row flex-just-sa">
	        <div class="colspan6" style="width: 100%" align="center">
	        <form >
            	<div class="input-control text " data-role="input" style="width: 95%">
    
    		<input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar" autocomplete="off" ng-change="search()">
    
    		<button class="button" ng-click="search()"><span class="mif-search"></span></button></div>
            </form>
	        </div>
	        <div class="colspan6" style="width: 100%" align="center">
		        <div class="input-control select" style="width: 95%">
                <select ng-model="pageSizetmp.items" ng-change="ChangePageItems()" style="text-align: center; text-align-last: center;">
                    <option value="">---Items mostrados---</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="todos">Ver todos</option>
                </select>
                </div>
	        </div>
	    </div>
	</div>
	<!--Finaliza Busqueda y numero mostrado -->
  <div style="overflow-x:auto;">
    <table class="table striped hovered bordered">
          <thead>
            <tr>
              <th>Ingrediente</th>
              <th>Existencia</th>
              <th>Usar en esta receta</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in ingredients | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
              <td>{{ a.name }}</td>
              <td>{{ a.stock }} {{ a.measurements.namefasts }}</td>
              <td>
              	<form>
              		<button class="button success" ng-click="insert(a)"><span class="mif-plus"></span> Agregar</button>
              		<div class="input-control text">
					    <input type="double" ng-model="a.stocktmp">
					</div>
					<span>{{ a.measurements.namefasts }}</span>
              	</form>
              </td>  
              
              	
              
            </tr>
          </tbody>
        </table>
     </div>   

    <div class="row flex-just-sa">
        <div class="cell-auto-size">
        <div class='pagination'>
          <button type='button ' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = 0'>Principio</button>

          <button type='button' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
          
          <button type='button' class='item current' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{ page.no }}</button>
          
          <button type='button' class='item' ng-disabled='currentPage >= ingredients.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>

          <button type='button' class='item' ng-disabled='currentPage == ingredients.length/pageSize - 1' ng-click='currentPage = ingredients.length/pageSize - 1'>Final</button>
        </div>
    </div>    
    </div><hr>
	<!--Finaliza tabla de seleccion-->
        </div>
    </div>

    <div class="frame">
        <div class="heading"><span class="mif-list icon"></span> Ingredientes seleccionados</span></div>
        <div class="content">
        <div style="overflow-x:auto;">
        	<table class="table striped hovered bordered" ng-model="arr">
          <thead>
            <tr>
              <th>Ingrediente</th>
              <th>Porcion</th>
              <th>Disminuir porcion ingredientes al utilizar</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in arr'>
              <td>{{ a.name }}</td>
              <td ng-if="a.porcion > 1">{{ a.porcion }} {{ a.namefasts }}</td>
              <td ng-if="a.porcion < 1">{{ a.porcion }} {{ a.namefast }}</td>
              <td ng-if="a.porcion == 1">{{ a.porcion }} {{ a.namefast }}</td>
              <td align="center">

                <label class="switch-original">
                  <input type="checkbox"  ng-model="a.update_ingredients">
                  <span class="check"></span>
              </td>
              <td align="center"><button class="button alert" ng-click="remove(a)"><span class="mif-bin"></span> Quitar</button></td>            
            </tr>
          </tbody>
        </table>
        </div>
	</div></div>

    <div class="row flex-just-sa">
        <div class="cell-auto-size">
        <div class='pagination'>
	        <button class="button success large-button" ng-click="create()"><span class="mif-plus "></span> Crear receta</button>
			<button class="button warning large-button" ng-click="clean()"><span class="mif-magic-wand "></span> Limpiar todo</button>
        </div>
    </div>    
    </div>

</div>