<div class="panel" ng-controller="recetas">
    <div class="heading">
        <span class="icon mif-list"></span>
        <span class="title">Recetas</span>
    </div>
    <div class="content">
        <div class="grid">
      <div class="row flex-just-sa">
          <div class="colspan6" style="width: 100%" align="center">
          <form >
              <div class="input-control text " data-role="input" style="width: 95%">
    
        <input type="text" name="filter" ng-model="inputbox.txt" placeholder="Buscar">
    
        <button class="button" ng-click="search()"><span class="mif-search"></span></button></div>
            </form>
          </div>
          <div class="colspan6" style="width: 100%" align="center">
            <div class="input-control select" style="width: 95%">
                <select ng-model="pageSizetmp.items" ng-change="ChangePageItems()" style="text-align: center; text-align-last: center;">
                    <option value="">---Items mostrados---</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="todos">Ver todos</option>
                </select>
                </div>
          </div>
      </div>
  
  <!--Finaliza Busqueda y numero mostrado -->
    <table class="table striped hovered bordered">
          <thead>
            <tr>
              <th>Receta</th>
              <th>Descripcion</th>
              <th>Imprimir</th>
              <th>Visualizar</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in recetas | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
              <td>{{ a.name }}</td>
              <td>{{ a.description }}</td>
              <td>
              <a href="">
                <button class="button primary"><span class="mif-printer"></span> Imprimir</button> 
              </a>
              </td>  
              
              <td>
              <a href="dashboard#/view_recetas/{{ a._id }}">
                <button class="button success"><span class="mif-versions"></span> Visualizar</button> 
              </a>
              </td>

              <td>
              <a href="dashboard#/edit_recetas/{{a._id}}">
              <button class="button warning"><span class="mif-pencil"></span> Editar</button>
              </a>
              </td>

              <td>
              <button class="button alert" onclick="toggleMetroDialog('#delete')" ng-click="loadvalues(a)"><span class="mif-bin"></span> Eliminar</button>
              </td>
              
            </tr>
          </tbody>
        </table>
    
    
    <div class="row flex-just-sa">
        <div class="cell-auto-size">
        <div class='pagination'>
          <button type='button ' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = 0'>Principio</button>

          <button type='button' class='item' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
          
          <button type='button' class='item current' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{ page.no }}</button>
          
          <button type='button' class='item' ng-disabled='currentPage >= recetas.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>

          <button type='button' class='item' ng-disabled='currentPage == recetas.length/pageSize - 1' ng-click='currentPage = recetas.length/pageSize - 1'>Final</button>
        </div>
    </div>    
    </div><hr>
  <!--Finaliza tabla de seleccion-->

    </div>

</div>
   
<!--Eliminar receta-->    
<div data-role="dialog" id="delete" class="padding30" data-type="" 
data-close-button="true"
data-width="auto"
data-overlay="true">

    <p>
    <font face="Segoe UI Bold">
        <h4>ELIMINAR RECETA: {{ receta.name }} ?</h4>
    </font>
    </p>

    <div align="center">
      <button class="button alert" onclick="hideMetroDialog('#delete')" ng-click="delete()">SI</button>
    <button class="button success" onclick="hideMetroDialog('#delete')">NO</button>
    </div>
</div>
<!--Finaliza Eliminar receta-->    
