<div ng-show="loading">
  
  <div class="cell bg-white">
          <div data-role="preloader" data-type="cycle" data-style="color" style="margin: auto" align=""></div>
      </div>

</div>

<div ng-show="!loading">
<div ng-controller="view_receta">
<!--Preparacion-->
<div class="panel">
	    <div class="heading" align="center">
	        <span class="title">PREPARACION</span>
	    </div>
	    <div class="content padding20">
	    <a class="place-center" title="">
					        <center>
					        <h2>{{ receta.name}}</h2>
					        <h4>{{ receta.description}}</h4>
					        <center>
							<br>
							<button class="button large-button primary"><span class="mif-printer"></span> Imprimir</button>
							<a href="dashboard#/edit_recetas/{{receta._id}}">
								<button class="button large-button warning"><span class="mif-pencil"></span> Editar</button>
							</a>
							<br>
						</center>
					        </center>
					    </a>
	    	<div class="grid">
				<div class="row flex-just-sa">
					<div class="cell-auto-size" style="border: 2px">
					<div class="listview-outlook" data-role="listview">
		    <div class="list">
		        <div class="list-content" ng-repeat='a in ingredientes'>
		            <span class="list-title">
	            		{{ a.porcion }} 
	                    <span ng-if="a.porcion < 1">{{ a.ingrediente.measurements.namefast }}</span>
	                    <span ng-if="a.porcion > 1">{{ a.ingrediente.measurements.namefasts }}</span>
	                    <span ng-if="a.porcion == 1">{{ a.ingrediente.measurements.namefast }}</span>
	                    {{ a.ingrediente.name }}
	                </span>
		            <span class="list-subtitle">Stock: {{ a.ingrediente.stock }}</span>
		            <span class="list-remark" ng-if = "a.update_ingredients">
		            Descontar stock</span>
		        </div>
		    </div></div>
					</div>
					<div class="cell-auto-size padding0" style="border: 2px; width: 100%">
						
						<div class="input-control textarea" style="width: 100%">
					    <textarea readonly="readonly" ng-model="receta.receta" cols=42 rows=26 style="background-color: #e8f1f4; border: none"></textarea>
						</div>


						
				    </div>
				</div>
			</div>

	    </div>
	</div>
<!--Finaliza preparacion-->
</div>