<div class="panel info" ng-controller="products">
                <div class="heading">
                
                <span class="title">Nuevo Categoria</span>
                </div>
                <div class="content">
                <form align="center">  
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Categoria" ng-model="Newproduct.categoria" class="input-full" required="">
                        <span class="label">Nombre categoria</span>
                        <span class="informer"></span>
                        <span class="icon mif-user"></span>
                        </div>
                        
                        <div class="input-control modern text iconic" id="widthfull">
                        <input type="text" placeholder="Descripcion" ng-model="Newproduct.descripcion" class="input-full" required="">
                        <span class="label">Descripcion categoria</span>
                        <span class="informer"></span>
                        <span class="icon mif-user"></span>
                        </div>
                        
                        <br><br>
                        
                        <button class="button success loading-pulse" ng-click="CreateCatProduct()">
                        Agregar
                        </button>
                    </form>
                    <br><br>
</div>
</div>
<table class="table striped hovered" ng-controller="products">
	<th>
		CATEGORIA
	</th>
	<th>
		DESCRIPCION
	</th>
	<th>
		OPCION
	</th>
	<tr align="center" ng-repeat="category in productstmp">
		<td>
			{{ category.categoria }}
		</td>
		<td>
			{{ category.descripcion }}
		</td>
		<td>
			<button class="button alert loading-cube" onclick="toggleMetroDialog('#dialog-ajax')">ELIMINAR</button>
		</td>
	</tr>

</table>